<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
    .container {
      max-width: 560px;
    } </style>
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h2>상품 등록 폼</h2>
  </div>
  <h4 class="mb-3">상품 입력</h4>
  <!--  th:object 속성으로 설정하면 아래 th:field 속성에서 *(선택 변수 식)로 객체에 접근 가능-->
  <!--  th:field 속성 사용하면 id, name, value 은 해당 속성값으로 자동으로 렌더링-->
  <form th:action action="item.html" th:object="${item}" method="post">
    <div>
      <label for="itemName">상품명</label>
      <input type="text" id="itemName" th:field="*{itemName}" class="form-control"
             placeholder="이름을 입력하세요">
    </div>
    <div>
      <label for="price">가격</label>
      <input type="text" id="price" th:field="*{price}" class="form-control"
             placeholder="가격을 입력하세요">
    </div>
    <div>
      <label for="quantity">수량</label>
      <input type="text" id="quantity" th:field="*{quantity}" class="form-control"
             placeholder="수량을 입력하세요">
    </div>

    <hr class="my-4">

    <!-- single checkbox-->
<!--    HTML checkbox 는 선택 되지 않았을 때는 서버로 값 자체를 보내지 않음. 때문에 문제 발생 가능-->
<!--    스프링에서는 해당 필드 네임 앞에 언더바를 붙여서 해제에 대한 필드(히든 필드)를 서버로 전송 (open -> _open)-->
<!--    히든 필드는 항상 전달되기 때문에 처리가 용이-->
    <div>판매 여부</div>
    <div>
      <div class="form-check">
        <input type="checkbox" id="open" name="open" class="form-check-input">
        <input type="hidden" name="_open" value="on">
        <label for="open" class="form-check-label">판매 오픈</label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="w-100 btn btn-primary btn-lg" type="submit">
          상품 등록
        </button>
      </div>

      <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                th:onclick="|location.href='@{/form/items}'|"
                onclick="location.href='items.html'" type="button">
          취소
        </button>
      </div>
    </div>
  </form>
</div> <!-- /container -->
</body>
</html>
